* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background: #f5f7f7;
}
.bg-info7{background:#B12A35;}


/*Header Section Start*/
#header {
    background-color: rgb(9, 161, 192);
    padding: 20px;
}

a {
    text-decoration: none;
    color: white;
    font-size: x-large;
}
#headerhover a:hover{
    color: #B12A35;
}

/*Header Section End*/

/*Menu Section Start*/
#menu a {
    font-size: x-large;
    color:  rgb(9, 161, 192);
    transition: 0.3s;
}
#menu a:hover{
    background: #6dd4e4;
    color:  #B12A35;
    transform: scale(1.0);

}

#position {
    background-color: white;
}

#button {
    border: 1px solid rgb(9, 161, 192);
    color: rgb(9, 161, 192);
}
#logo{
    width: 190px;
    height: 90px;
    margin-left: 10px;
}

/*Menu Section End*/

/*Slider Section Start*/

#slider img:hover{
    transform: none;
}
/*Slider Section Start*/

/*Body Section Start*/
#content {
    background-color: rgb(17, 17, 17);
    color: rgb(9, 161, 192);
}

#h2 {
    color: rgb(9, 161, 192);
}

/*Body Section End*/

/*Blog Section Start*/
#blog {
    background-color: rgb(9, 161, 192);
}

#bloglink {
    display: inline-block;
}
#myblog a:hover{
    color:  #B12A35;
    transform: scale(1.05);
}

/*Blog Section End*/

/*About Section Start*/
#about {

    color: rgb(9, 161, 192);
}

/*About Section End*/

/*marquee start*/
#marquee {
    color: rgb(9, 138, 181);
}

/*marquee end*/

/* button start*/
#button {
    background-color: rgb(9, 138, 181);
}

/* button end*/

/*footer start*/
.footer {
    margin-right: 5px;
    padding-right: 5px;
}

.sociallink {
    color: rgb(9, 138, 181);
}

.footerlink {
    color: rgb(9, 138, 181);
}
#footer2 a:hover{
    color:  #6dd4e4;
    transform: scale(1.05);
}
#marqueehover a:hover{
    color: #B12A35;
    
}

/*footer end*/

/*Services Section Start*/
#abc {
    color: rgb(9, 138, 181);
}
 img:hover{
    transform: scale(1.02);  
}
a:hover{
    transform: scale(1.03);   
}
/*Services Section End*/

/* Contact Section Start  */
#socialhover a:hover{
    color:   rgb(9, 138, 181);
    transform: scale(1.5);
    border: none;
}

/* Contact Section End  */

#btn-outline:hover {
    background-color: rgb(9, 138, 181);
    color: white;
}

#linkedin {
    background-color: rgb(9, 138, 181);
    color: white;
}

#youtube {
    width: 535px;
    height: 315px;
}

/*Privacy Section start*/
.privacy{
    padding-left: 100px;
    padding-right: 100px;
}
/*Privacy Section  end*/